
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
}


#help {
  table {
    table-layout: fixed; /* 固定列宽，避免内容撑开列 */
    border-collapse: collapse; /* 去除表格单元格间的空隙 */
  }
  table td, table th {
    height: 0px; /* 设置每一行的高度 */
    padding-top: 2px; 
    padding-bottom: 2px; 
  }

  table,
  th,
  td {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

